<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ImageStatsServlet</servlet-name>
        <servlet-class>bf.julie.pidomen.servlets.ImageStatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inscription</servlet-name>
        <servlet-class>bf.julie.pidomen.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>bf.julie.pidomen.servlets.ConnexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePages</servlet-name>
        <servlet-class>bf.julie.pidomen.servlets.CreatePagesServlet</servlet-class>
        <multipart-config>
            <location>/</location>
            <!--Ou serons conserver les fichiers-->
            <max-file-size>10485760</max-file-size>
            <!--Taille maximale des fichiers 10MO-->
            <max-request-size>52428800</max-request-size>
            <!-- taille maximale de la requette globale 5 *10 Mo-->
            <file-size-threshold>1048576</file-size-threshold>
            <!--A partir de cette taille seront places dans le dossiers 1 Mo-->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>pagesSpecials</servlet-name>
        <servlet-class>bf.julie.pidomen.servlets.PagesSpecialsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoriesUnUsed</servlet-name>
        <servlet-class>bf.julie.pidomen.servlets.categoriesUnUsedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategoriesSimple</servlet-name>
        <servlet-class>bf.julie.pidomen.servlets.ListCategorieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accueil</servlet-name>
        <servlet-class>bf.julie.pidomen.servlets.AccueilMembre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categorieAdmin</servlet-name>
        <servlet-class>bf.julie.pidomen.servlets.CategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccueilAdmin</servlet-name>
        <servlet-class>bf.julie.pidomen.servlets.AccueilAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageStatsServlet</servlet-name>
        <url-pattern>/ImageStatsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePages</servlet-name>
        <url-pattern>/CreatePages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pagesSpecials</servlet-name>
        <url-pattern>/pagesSpecials</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoriesUnUsed</servlet-name>
        <url-pattern>/categoriesUnUsed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategoriesSimple</servlet-name>
        <url-pattern>/ListCategoriesSimple</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accueil</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categorieAdmin</servlet-name>
        <url-pattern>/categorieAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccueilAdmin</servlet-name>
        <url-pattern>/AccueilAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/Membres/includeFiles.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
